body {
    padding: 40px;
    background-color: rgb(255, 215, 255);
    font-family: 'Poppins', sans-serif;
    line-height: 1.5rem;
}

h2 {
    font-family: 'Handjet', cursive;
    font-size: 60px;
    text-align: center;
}

.accordian {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 4px 16px;
    border-radius: 5px;
    box-shadow: 3px 2px rgba(0, 0, 0, 0.2);
    width: 65%;
    margin: auto;
    margin-bottom: 20px;
}

.accordian:hover {
    cursor: pointer;
}

.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.answer {
    color: #666;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.icon {
    margin-right: 16px;
    transition: transform 0.5s;
}

.icon.active {
    transform: rotate(-180deg);
}